@media (max-width: 576px) {
    .item-content img {
        height: 400px;
    }
    .owl-carousel .owl-nav button.owl-prev {
        color: white;
        font-size: 20px;
        height: 30px;
        width: 30px;
    }
    
    .owl-carousel .owl-nav button.owl-next {
        color: white;
        font-size: 20px;
        height: 30px;
        width: 30px;
    }
    .item-caption{
        bottom: 100px;
    }
    .item-caption h4{
        font-size: 20px;
    }
    .category-badge {
        line-height: 30px;
    }
    .post-content img{
        height: 400px;
    }
}
