@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Kanit:wght@300;600;700&family=Ubuntu&display=swap');

body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #EBF1F8;
    font-family: 'Kanit', sans-serif;
    font-size: 14px;
}
.pallete{
    color: #3D3D3D;
    color: #DAAC69;
    color: #7C695C;
    color: #D9D3CB;
}
.box {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: white;
}

.a {
    text-decoration: none;
    color: black;
}

.a:hover {
    color: #DAAC69;
}

.block-title {
    font-weight: 600;
    font-size: 17px;
}

.title-border {
    border-bottom: #3D3D3D solid 4px;
    padding: 5px 0px;
    width: 80px;
    margin-bottom: 30px;
}
.navbar {
    min-height: 80px;
    background-color: #FFFFFF !important;
    
}

.navbar-nav {
    margin: 0 auto;
    font-size: 17px;
}

.navbar-brand {
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
}
.navbar-toggler{
    font-size: 30px;
    border: none;
    background: transparent;
    box-shadow: none !important;
}
.nav-item .nav-link{
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 10px 40px;
    margin-right: 20px;
    color: rgb(0, 0, 0);
    transition: all 0.2s ease 0s;
}
.nav-item .nav-link:hover, a:focus, a:active {
    color: #DAAC69;
    text-decoration: none;
}
.nav-item .nav-link.active{
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 10px 20px;
    margin-right: 20px;
    transition: all 0.2s ease 0s;
}
.nav-item .nav-link.active-underline {
    border-bottom: 3px solid #DAAC69;
}
.customnav_drop{
    background-color: #3D3D3D;
    color: #FFFFFF;
}
.dropdown-item{
    color: #FFFFFF;
}
.dropdown-divider{
    color: #DAAC69;
    
}
.nav-search {
    position: relative;
    z-index: ;
    height: 50px;
    width: 250px;
    background-color: #EBF1F8;
    font-size: 14px;
    border: 0px solid #EBF1F8;
    padding: 10px 30px;
    color: #EBF1F8;
    border-radius: 20px;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

.form-control:focus {
    background-color: #EBF1F8;
    box-shadow: none;
}

.navSearch-btn {
    color: #FFFFFF;
    background-color: #DAAC69;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.navSearch-btn:hover {
    color: #000000 !important;
}
.owl-carousel {
    z-index: 0;
}

button.nav_btn:hover {
    opacity: 1;
}

button.nav_btn:focus,
input[type="search"]:focus {
    box-shadow: #32325d40 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    border-color: #eee;
    outline: none;
}

.btn-search:focus {
    background-color: #256D85;
    color: #eee;
    outline-color: transparent;
}
.canvas-custom{
    background-color: #3D3D3D;
    color: #FFFFFF;
}
ul.myCanvas_list{
    padding: 0;
    margin: 0;
}
.myCanvas_list li {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
    display: block;
    height: 50px;
    line-height: 30px;
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #DAAC69;
}

.myCanvas_list li a {
    color: white;
    text-decoration: none;
}

.myCanvas_list li a:hover {
    color: #DAAC69;
}
ul.myCanvas_socials{
    margin: 0;
    padding: 0;
}
.myCanvas_socials li{
    display: inline-block;
    margin-right: 20px;
    font-size: 30px;
}
.myCanvas_socials li a{
    text-decoration: none;
}
.myCanvas_socials li a:hover{

}
.myCanvas_socials .la-facebook{
    color: #354db5;
}
.myCanvas_socials .la-twitter{
    color: #23ABFF;
}
.myCanvas_socials .la-instagram{
    color: #d6249f;
}
.myCanvas_socials .la-whatsapp{
    color: #075E54;
}
.myCanvas_socials .la-youtube{
    color: #FF0000;
}
.myCanvas_socials .la-spotify{
    color: #1DB954;
}
.item-content img {
    height: 700px;
    width: 100%;
    object-fit: cover;
    filter: brightness(60%);
}

.owl-carousel .owl-nav button.owl-prev {
    color: white;
    font-size: 20px;
    height: 40px;
    width: 40px;
    position: absolute;
    left: 3%;
    top: 50%;
    margin: 0;
    border: none;
    outline: none;
    background-color: #3D3D3D; !important;
}

.owl-carousel .owl-nav button.owl-next {
    color: white;
    font-size: 20px;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 3%;
    top: 50%;
    margin: 0;
    border: none;
    outline: none;
    background-color: #3D3D3D; !important;
}

.owl-carousel .owl-nav button:hover {
    background-color: #DAAC69 !important;
}

.item-caption {
    color: #FFFFFF;
    position: absolute;
    right: 15%;
    bottom: 300px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 10px;
}

.category-badge {
    background: #DAAC69;
    display: inline-block;
    padding: 0px 20px;
    line-height: 40px;
    border-radius: 20px;
    font-size: 14px;
    text-transform: capitalize;
    color: white !important;
    margin-bottom: 20px;
    text-decoration: none !important;

}

.item-caption h4 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 30px;
}

.item-caption h4 a {
    color: #FFFFFF;
    text-decoration: none;
}

.item-caption h4 a:hover {
    color: #DAAC69;
}

ul.intro-list {
    margin: 0;
    padding: 0;
}

.intro-list li {
    display: inline-block;
    margin-right: 20px;
}

.intro-list li a {
    color: white;
    text-decoration: none;
}

.intro-list li a:hover {
    color: #DAAC69;
}

.intro-list .la {
    margin-right: 10px;
}

.pod_vid{
    width: 100%;
    height: 250;
    border-radius: 3px;
}

.pod_vid{
    width: 100%;
    height: 250px;
    border-radius: 3px;
    margin-bottom: 20px;
}
.pod_post{
    margin-bottom: 60px;
}
.pod_post h4 a{
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.pod_post h4 a:hover{
    color: #DAAC69;
}
.block-post {
    margin-bottom: 60px;
}

.block-post img {
    width: 100%;
    height: 250px;
    border-radius: 3px;
    object-fit: cover;
    margin-bottom: 0px;
    filter: brightness(80%);
    margin-bottom: 20px;
}

.post-icon {
    background-color: #DAAC69;
    color: #FFFFFF;
    padding: 7px 7px;
    border-radius: 3px;
    font-size: 20px;
    position: relative;
    bottom: 60px;
    left: 20px;
    z-index: 10;
}

.block-post h4 a{
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.block-post h4 a:hover{
    color: #DAAC69;
}
.block-post p{
    color: #737A87;
    margin-bottom: 30px;
}
ul.blockPost_meta {
    margin: 0;
    padding: 0;
}

.blockPost_meta li {
    display: inline-block;
    margin-right: 20px;
}

.blockPost_meta li a {
    color: #000000;
    text-decoration: none;
}

.blockPost_meta li a:hover {
    color: #DAAC69;
}

.blockPost_meta .la {
    margin-right: 10px;
}
.small_post {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
}

.small_post img{
    margin-right: 1rem;
    width: 120px;
    height: 80px;
    object-fit: cover;
    border-radius: 3px;
}

.smallpost_body h4 a {
    margin-top: 0;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.smallpost_body h4 a:hover{
    color: #DAAC69;
}
ul.smallpost_meta {
    margin: 0;
    padding: 0;
}

.smallpost_meta li {
    display: inline-block;
    margin-right: 20px;
}

.smallpost_meta li a {
    color: #000000;
    text-decoration: none;
}

.smallpost_meta li a:hover {
    color: #DAAC69;
}

.smallpost_meta .la {
    margin-right: 10px;
}








ul.tags{
    margin: 0;
    padding: 0;
    list-style: none;
}
.tags li {
    display: inline-block;
    margin-right: 4px;
    margin-bottom: 6px;
}
.tags li a {
    text-decoration: none;
    text-transform: capitalize;
    display: block;
    padding: 10px 15px;
    margin-bottom: 10px;
    color: #000000;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    background-color: #EBF1F8;
    border-radius: 3px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

ul.archive-list {
    margin: 0;
    padding: 0;
}

.archive-list li {
    font-size: 14px;
    display: block;
    background-color: #EBF1F8;
    height: 50px;
    line-height: 30px;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 20px;
}

.archive-list li a {
    text-decoration: none;
    color: black;
}

.archive-list li a:hover {
    color: #354db5;
}

.archive-list .la {
    margin-right: 10px;
}

.newsletter-form {
    position: relative;
    z-index: 2;
    height: 50px;
    width: 100%;
    background-color: #EBF1F8;
    font-size: 14px;
    margin-bottom: 30px;
    border: 0px solid #EBF1F8;
    padding: 10px 30px;
    color: #EBF1F8;
    border-radius: 3px;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

.nl-btn {
    margin-bottom: 30px;
    color: white;
    background-color: #DAAC69;
    border: #DAAC69;
    height: 40px;
    width: 30%;
    border-radius: 3px;
    margin-bottom: 20px;
}
ul.social-list {
    padding: 0;
    margin: 0;
    text-align: center;
}

.social-list li {
    font-size: 30px;
    display: inline-block;
    background-color: #EBF1F8;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    vertical-align: middle;
}

.social-list .fb {
    background-color: #3E68C0;
}

.social-list .tw {
    background-color: #23ABFF;
}

.social-list .ig {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.social-list .wa {
    background-color: green;
}

.social-list .la {
    color: white;
}
.footer-section {
    background-color: #3D3D3D;
    color: #FFFFFF;
    padding-top: 50px;

}

.breadcrumb{
    font-size: 14px;
    padding: 10px 15px;
    margin-bottom: 30px;
    color: #000000;
    box-shadow: #32325d40 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    background-color: #ebf1f8;
    border-radius: 3px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}
.breadcrumb-item{
    margin-right: 10px;
    text-transform: capitalize;
}
.breadcrumb-item a{
    text-decoration: none;
    text-transform: capitalize;
    color: #000000;
    
}
.breadcrumb-item a:hover, a:focus{
    color: #DAAC69;
}
.breadcrumb-item .la{
    margin-right: 10px;
}
.post_body img{
    width: 100%;
    height: 500px;
    border-radius: 3px;
    object-fit: cover;
    margin-bottom: 40px;
}
.post_head h4{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 30px;
}
.author_body {
    display: flex;
    align-items: center;
}

.author_body img {
    margin-right: 1rem;
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.author_name {
    margin-top: 0;
    font-size: 14px;
    text-transform: capitalize;
}
.article_p{
    margin-bottom: 60px;
}
.share-collapse{
    color: #000000;
    box-shadow: #32325d40 0px 30px 60px -12px, #0000004d 0px 18px 36px -18px;
    background-color: #DAAC69;
    padding: 10px 20px;
    border-radius: 3px;
    border: none;
    margin-bottom: 30px;
}
ol.post-share{
    margin: 0;
    padding: 0;
}
.post-share li{
    display: inline-block;
    font-size: 20px;
    background-color: #ebf1f8;
    width: 50px;
    height: 50px;
    padding: 10px 15px;
    line-height: 30px;
    box-shadow: #32325d40 0px 30px 60px -12px, #0000004d 0px 18px 36px -18px;
    border-radius: 50%;
    margin-right: 20px;
    margin-bottom: 20px;
}
.post-share li a{
    text-decoration: none;
    color: #000000;
}
.post-share .la-facebook{
    color: #354db5;
}
.post-share .la-twitter{
    color: #23ABFF;
}
.post-share .la-instagram{
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), 
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), 
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), 
    radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), 
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), 
    radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), 
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), 
    linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.post-share .la-whatsapp{
    color: green;
}
.post-share .la-linkedin{
    color: #0072b1;
}
.comment {
    display: flex;
    align-items: flex-start;
    border-bottom: 2px solid #D9D3CB;
    margin-bottom: 60px;
}

.comment img {
    margin-right: 1rem;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.comm_name {
    margin-top: 0;
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.comm-body p{

}
.comm_form {
    position: relative;
    z-index: ;
    height: 50px;
    background-color: #EBF1F8;
    font-size: 14px;
    border: 0px solid #EBF1F8;
    padding: 10px 30px;
    color: #000;
    border-radius: 3px;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

.comm_form:focus {
    color: #000;
    background-color: #EBF1F8;
    box-shadow: none;
}
textarea.comm_text{
    position: relative;
    background-color: #EBF1F8;
    font-size: 14px;
    border: 0px solid #EBF1F8;
    padding: 10px 30px;
    color: #000;
    border-radius: 3px;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}
textarea.comm_text:focus{
    color: #000;
    background-color: #EBF1F8;
    box-shadow: none;
}
.comm_btn{
    margin-bottom: 30px;
    color: white;
    background-color: #DAAC69;
    border: #DAAC69;
    height: 50px;
    width: 100%;
    border-radius: 3px;
}




.company-block {
    text-align: center;
}
.company-details {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 30px;
}
.company-slogan {
    text-align: center;
    margin-bottom: 30px;
}
.footer-social {
    text-align: center;
}
ul.footer-social{
    padding: 0;
    margin: 0;
}
.footer-social li{
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 30px;
    font-size: 20px;
}
.footer-social li a {
    color: #FFFFFF;
}
.footer-links {
    text-align: center;
}
ul.footer-list{
    padding: 0;
    margin: 0;
}
.footer-list li{
    display: block;
    margin-bottom: 30px;
}
.footer-list li a {
    color: #FFFFFF;
    text-decoration: none;
}