@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Kanit:wght@300;600;700&family=Ubuntu&display=swap');

body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #EBF1F8;
    font-family: 'Kanit', sans-serif;
    font-size: 14px;
}
.pallete{
    color: #3D3D3D;
    color: #DAAC69;
    color: #7C695C;
    color: #D9D3CB;
}
.box {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: white;
}

.a {
    text-decoration: none;
    color: black;
}

.a:hover {
    color: #DAAC69;
}

.block-title {
    font-weight: 600;
    font-size: 17px;
}

.title-border {
    border-bottom: #3D3D3D solid 4px;
    padding: 5px 0px;
    width: 80px;
    margin-bottom: 30px;
}
.navbar {
    min-height: 80px;
    background-color: #FFFFFF !important;
    
}

.navbar-nav {
    margin: 0 auto;
    font-size: 17px;
}

.navbar-brand {
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
}
.navbar-toggler{
    font-size: 30px;
    border: none;
    background: transparent;
    box-shadow: none !important;
}
.nav-item .nav-link{
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 10px 40px;
    margin-right: 20px;
    color: rgb(0, 0, 0);
    transition: all 0.2s ease 0s;
}
.nav-item .nav-link:hover, a:focus, a:active {
    color: #DAAC69;
    text-decoration: none;
}
.nav-item .nav-link.active{
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 10px 20px;
    margin-right: 20px;
    transition: all 0.2s ease 0s;
}
.nav-item .nav-link.active-underline {
    border-bottom: 3px solid #DAAC69;
}
.customnav_drop{
    background-color: #3D3D3D;
    color: #FFFFFF;
}
.dropdown-item{
    color: #FFFFFF;
}
.dropdown-divider{
    color: #DAAC69;
    
}
.nav-search {
    position: relative;
    z-index: ;
    height: 50px;
    width: 250px;
    background-color: #EBF1F8;
    font-size: 14px;
    border: 0px solid #EBF1F8;
    padding: 10px 30px;
    color: #EBF1F8;
    border-radius: 20px;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

.form-control:focus {
    background-color: #EBF1F8;
    box-shadow: none;
}

.navSearch-btn {
    color: #FFFFFF;
    background-color: #DAAC69;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.navSearch-btn:hover {
    color: #000000 !important;
}
.owl-carousel {
    z-index: 0;
}

button.nav_btn:hover {
    opacity: 1;
}

button.nav_btn:focus,
input[type="search"]:focus {
    box-shadow: #32325d40 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    border-color: #eee;
    outline: none;
}

.btn-search:focus {
    background-color: #256D85;
    color: #eee;
    outline-color: transparent;
}
.canvas-custom{
    background-color: #3D3D3D;
    color: #FFFFFF;
}
ul.myCanvas_list{
    padding: 0;
    margin: 0;
}
.myCanvas_list li {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
    display: block;
    height: 50px;
    line-height: 30px;
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #DAAC69;
}

.myCanvas_list li a {
    color: white;
    text-decoration: none;
}

.myCanvas_list li a:hover {
    color: #DAAC69;
}
ul.myCanvas_socials{
    margin: 0;
    padding: 0;
}
.myCanvas_socials li{
    display: inline-block;
    margin-right: 20px;
    font-size: 30px;
}
.myCanvas_socials li a{
    text-decoration: none;
}
.myCanvas_socials li a:hover{

}
.myCanvas_socials .la-facebook{
    color: #354db5;
}
.myCanvas_socials .la-twitter{
    color: #23ABFF;
}
.myCanvas_socials .la-instagram{
    color: #d6249f;
}
.myCanvas_socials .la-whatsapp{
    color: #075E54;
}
.myCanvas_socials .la-youtube{
    color: #FF0000;
}
.myCanvas_socials .la-spotify{
    color: #1DB954;
}
.item-content img {
    height: 700px;
    width: 100%;
    object-fit: cover;
    filter: brightness(60%);
}

.owl-carousel .owl-nav button.owl-prev {
    color: white;
    font-size: 20px;
    height: 40px;
    width: 40px;
    position: absolute;
    left: 3%;
    top: 50%;
    margin: 0;
    border: none;
    outline: none;
    background-color: #3D3D3D; !important;
}

.owl-carousel .owl-nav button.owl-next {
    color: white;
    font-size: 20px;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 3%;
    top: 50%;
    margin: 0;
    border: none;
    outline: none;
    background-color: #3D3D3D; !important;
}

.owl-carousel .owl-nav button:hover {
    background-color: #DAAC69 !important;
}

.item-caption {
    color: #FFFFFF;
    position: absolute;
    right: 15%;
    bottom: 300px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 10px;
}

.category-badge {
    background: #DAAC69;
    display: inline-block;
    padding: 0px 20px;
    line-height: 35px;
    border-radius: 20px;
    font-size: 13px;
    text-transform: capitalize;
    color: white !important;
    margin-bottom: 20px;
    text-decoration: none !important;

}

.item-caption h4 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 30px;
}

.item-caption h4 a {
    color: #FFFFFF;
    text-decoration: none;
}

.item-caption h4 a:hover {
    color: #DAAC69;
}

ul.intro-list {
    margin: 0;
    padding: 0;
}

.intro-list li {
    display: inline-block;
    margin-right: 20px;
}

.intro-list li a {
    color: white;
    text-decoration: none;
}

.intro-list li a:hover {
    color: #DAAC69;
}

.intro-list .la {
    margin-right: 10px;
}

.pod_vid{
    width: 100%;
    height: 250;
    border-radius: 3px;
}

.pod_vid{
    width: 100%;
    height: 250px;
    border-radius: 3px;
    margin-bottom: 20px;
}
.pod_post{
    margin-bottom: 60px;
}
.pod_post h4 a{
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.pod_post h4 a:hover{
    color: #DAAC69;
}
.block-post {
    margin-bottom: 60px;
}

.block-post img {
    width: 100%;
    height: 250px;
    border-radius: 3px;
    object-fit: cover;
    margin-bottom: 0px;
    filter: brightness(80%);
    margin-bottom: 20px;
}

.post-icon {
    background-color: #DAAC69;
    color: #FFFFFF;
    padding: 7px 7px;
    border-radius: 3px;
    font-size: 20px;
    position: relative;
    bottom: 60px;
    left: 20px;
    z-index: 10;
}

.block-post h4 a{
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.block-post h4 a:hover{
    color: #DAAC69;
}
.block-post p{
    color: #737A87;
    margin-bottom: 30px;
}
ul.blockPost_meta {
    margin: 0;
    padding: 0;
}

.blockPost_meta li {
    display: inline-block;
    margin-right: 20px;
}

.blockPost_meta li a {
    color: #000000;
    text-decoration: none;
}

.blockPost_meta li a:hover {
    color: #DAAC69;
}

.blockPost_meta .la {
    margin-right: 10px;
}









ul.tags{
    margin: 0;
    padding: 0;
    list-style: none;
}
.tags li {
    display: inline-block;
    margin-right: 4px;
    margin-bottom: 6px;
}
.tags li a {
    text-decoration: none;
    text-transform: capitalize;
    display: block;
    padding: 10px 15px;
    margin-bottom: 10px;
    color: #000000;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    background-color: #EBF1F8;
    border-radius: 10px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

ul.archive-list {
    margin: 0;
    padding: 0;
}

.archive-list li {
    font-size: 14px;
    display: block;
    background-color: #EBF1F8;
    height: 50px;
    line-height: 30px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.archive-list li a {
    text-decoration: none;
    color: black;
}

.archive-list li a:hover {
    color: #354db5;
}

.archive-list .la {
    margin-right: 10px;
}

.newsletter-form {
    position: relative;
    z-index: 2;
    height: 50px;
    width: 100%;
    background-color: #EBF1F8;
    font-size: 14px;
    margin-bottom: 30px;
    border: 0px solid #EBF1F8;
    padding: 10px 30px;
    color: #EBF1F8;
    border-radius: 10px;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

.nl-btn {
    margin-bottom: 30px;
    color: white;
    background-color: #DAAC69;
    border: #DAAC69;
    height: 40px;
    width: 30%;
    border-radius: 10px;
    margin-bottom: 20px;
}
ul.social-list {
    padding: 0;
    margin: 0;
    text-align: center;
}

.social-list li {
    font-size: 30px;
    display: inline-block;
    background-color: #EBF1F8;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    vertical-align: middle;
}

.social-list .fb {
    background-color: #3E68C0;
}

.social-list .tw {
    background-color: #23ABFF;
}

.social-list .ig {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.social-list .wa {
    background-color: green;
}

.social-list .la {
    color: white;
}
.footer-section {
    background-color: #3D3D3D;
    color: #FFFFFF;
    padding-top: 50px;

}















.sidebar {
    background-color: #3D3D3D !important;
    position: fixed;
    top: 0 !important;
    bottom: 0;
    left: 0;
    z-index: 100;
    /* Behind the navbar */
    padding: 70px 0 0;
    /* Height of navbar */
    box-shadow: #32325d40 0px 30px 60px -12px, #0000004d 0px 18px 36px -18px;
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 6rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.side-item .nav-link {
    color: #FFFFFF !important;
    margin-bottom: 20px;

}

.nav-item .side-link {
    color: #FFFFFF !important;
}

.side-item .nav-link.active {
    color: #DAAC69;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}








.company-block {
    text-align: center;
}
.company-details {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 30px;
}
.company-slogan {
    text-align: center;
    margin-bottom: 30px;
}
.footer-social {
    text-align: center;
}
ul.footer-social{
    padding: 0;
    margin: 0;
}
.footer-social li{
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 30px;
    font-size: 20px;
}
.footer-social li a {
    color: #FFFFFF;
}
.footer-links {
    text-align: center;
}
ul.footer-list{
    padding: 0;
    margin: 0;
}
.footer-list li{
    display: block;
    margin-bottom: 30px;
}
.footer-list li a {
    color: #FFFFFF;
    text-decoration: none;
}